ShabaFashionersLite/Service References/ServiceRef/ShabaLiteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShabaLiteService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShabaLiteService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMessage" nillable="true" type="tns:ResponseMessage" />
</xs:schema>